<h3>Contador</h3>
<h4>{{ contador }}</h4>

<div class="row">
  <div class="col">
    <button (click)="multiplicar()" class="btn btn-primary">Multiplicar</button>
    <button (click)="dividir()" class="btn btn-info">Dividir</button>
  </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
      <!--[contador]="contador" para enviar contador al hijo informacion al hijo -->
      <!--(cambioContador)="contador = $event" para recibir cambioContador del hijo y asignar lo que sea que venga a mi contador de padre  -->
      <app-nieto [contador]="contador" (cambioContador)="resetNieto($event)"></app-nieto>
    </div>
  </div>