<div class="row text-center">
  <div class="col" >
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
    <button (click)="decrementar()" class="btn btn-info">Decrementar</button>
  </div>
</div>

<!-- <hr>

<div class="row text-center">
  <div class="col"> -->
    <!--[contador]="contador" para enviar contador al hijo informacion al hijo -->
    <!--(cambioContador)="contador = $event" para recibir cambioContador del hijo y asignar lo que sea que venga a mi contador de padre  -->
    <!-- <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo>
  </div>
</div> -->